body {
    font-family: 'Roboto', sans-serif;
    color: #3355dd;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #333333;

}


li .day {
    font-size: 16pt;
    height: 30px;
    width: 150px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ee99ff;
}


ul {
    list-style: none;
}

.bullet-list-round {
    padding: 0;
    margin: 0 0 24px 12px;
    line-height: 1.28571em;
    margin-left: 14px;
}


.pool li {
    margin-top: 6px;
    margin-bottom: 6px;
    /*background-image: url(https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/32/swimming.png);*/
    background-size: 13px;
    background-repeat: no-repeat;
    padding-left: 20px;

}

.bullet-list-round li {
    margin-top: 6px;
    margin-bottom: 6px;
    background-image: url(page.png);
    background-size: 13px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

li.day.folder {

    list-style-image: url(folder.png);
}

a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
